/* Container for the entire Forgot Password section */
.sign-in-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sign-in-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/images/home_cover.png');
  background-position: center;
  background-size: contain;
  opacity: 0.5;
}

/* Card container */
.ant-card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1; /* Ensure it stays above the background image */
}

/* Card title - centered */
.ant-card-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Card logo/image */
.ant-card-title img {
  width: 150px;
  height: 110px !important;
}

/* Submit button */
button {
  font-size: 18px;
  background-color: #022140;
  padding: 10px 10px;
  height: 50px;
  width: 100%;
  color: white;
  margin-top: 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none; /* Remove default border */
}

button:hover {
  background-color: #9D6824;
  border-color: #9D6824;
}

/* Form item spacing */
.ant-form-item {
  margin-bottom: 20px;
}

/* Input field styling */
.ant-input {
  height: 45px;
  font-size: 16px;
  padding: 0 12px;
}

.ant-input-password {
  height: 50px;
  font-size: 16px;
  padding: 0 12px;
}

.ant-input-prefix,
.ant-input-password-prefix {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
}

/* Form label styling */
.ant-form-item-label > label {
  font-size: 16px;
  font-weight: 500;
}

.sign-up-footer {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.sign-up-footer span {
  color: #022140;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.sign-up-footer span:hover {
  text-decoration: underline;
}

/* "Forgot Password" link styling */
.forgot-password-footer {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Link text color */
.forgot-password-footer span {
  color: #022140;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.forgot-password-footer span:hover {
  text-decoration: underline;
}

/* Error message styling */
.error-message {
  color: #DC143C;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

/* Back to Login Link Styling */
.back-to-login-footer span {
  font-size: 14px;
  color: #022140 !important;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center; 
  justify-content:center;
}

.back-to-login-footer span:hover {
  text-decoration: underline;
}

.back-to-login-footer span svg {
  margin-right: 8px; /* Space between icon and text */
}
