/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  .ant-layout {
    background-color: white;
  }
  
  /* Header styling */
  .header {
    background-color:#fafafa; /* Very light gray background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height:100px;
  }
  
  /* Left section with hamburger menu */
  .left-section {
    display: flex;
    align-items: center;
  }
.ant-drawer .ant-drawer-body {
    padding:5px;
}
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Logo styling */
  .logo-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo {
    height: 100px;
    width: 150px !important;

  }
  
  /* Right section with search bar and user icon */
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    width: 200px;
    margin:10px;
    height:40px;
  }

  .search-btn{
    margin-right:10px;
    margin-top:10px;
    height: 35px;
  }
  
  .content{
    margin:30px;
  }
  
  /* Card Styling */
  .book-card {
    width: 100%;
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for the card */
  }
  
  /* Image Styling */
  .book-image {
    width: 100%;
    height: 200px; /* Set to portrait height */
    object-fit: contain; /* Ensure portrait orientation */
    border-radius: 10px 10px 0 0; /* Rounded corners for the image */
  }
  
  /* Author Text Styling */
  .book-author {
    font-size: 12px;
    color: #555;
  }
  
  /* Description Styling */
  .book-description {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }
  
  .see-more {
    color: #1890ff;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 5px;
    display: inline-block;
  }
  